<div id="wrapper">
<div class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%=link_to( image_tag("logo.svg"), auctions_path) %>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/auctions">Home</a>
      </li>
      <li>
        <a href="/sessions" data-method="delete">Logout</a>
      </li>
    </ul>
  </div>
</div>
</div>
<br>
<br>
<br>
<br /><%= link_to 'Back', '/auctions' %>
<h1>Create New Auction</h1>
<p>Address Information</p>
<%= @user.address.street %> <%= @user.address.city %>, <%= @user.address.state %> <%= @user.address.zip_code %><br>

<form action="/auctions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  Title <input type="text" class="form-control" name="auction[title]" autofocus="true"><br>
  Description <textarea class="form-control" name=auction[description]></textarea>
  Minimum Price: <input type="number" name="auction[minimum_price]" class="form-control" step="any">
  <input type="hidden"  name="auction[address_id]" value="<%= @user.address.id %>">
  <input type="hidden" name="auction[user_id]" value="<%= @user.id %>">
  <button type="submit" class="btn btn-info">Create Auction</button>
</form>
