<div id="wrapper">
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=link_to( image_tag("logo.svg"), auctions_path) %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/auctions">Home</a>
        </li>
        <% if @user.level >= 1 %>
          <% if @user.address_id != nil %>
          <li>
            <a href="/auctions/new">Add New Auction</a>
          </li>
          <li>
            <a href="/users/<%= @user.id %>/edit">Edit Profile</a>
          </li> 
          <% end %>
        <% end %>
            <li>
              <a href="/sessions" data-method="delete">Logout</a>
            </li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div class="panel panel-primary">
  <div class="panel-heading"><%= @auction_find.title %></div>
  <div class="panel-body">
    <b>Description:</b>  <%= @auction_find.description %><br><br><br><br>
    <b>Number of Bids:</b> <%= @auction_find.bids.count %>
    <h2>Current Price
      <% if @auction_find.bids.empty? %>
        <%= @auction_find.minimum_price %>
      <% else %>
      $<%= @last_bid.price %>
      <% end %>
    </h2>
    <form action="/bids" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="auction_id" value="<%= @auction_find.id %>">
        Bid <input type="number" step="any" class="form-control" name="price" style="width: 150px"><button type="submit" class="btn btn-warning" style="display: inline-block">Bid! </button>
    </form><br><br>
    <% if @user.level > 1 %>
      Bid History <br><br><br>
      <% if @auction_history.empty? %>
      No Bids yet...
        <% else %>
        <% @auction_history.each do |history| %>
        User ID: <%= history.user_id %> bidded $<%=history.price %> on <%= history.created_at %> <br><hr>
        <% end %>
      <% end %>
      <% else %>
      <%end %>
</div>
</div>