<!DOCTYPE html>
<html>
<head>
  <title>Logistics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:errors] %>
  <% flash[:errors].each do |e| %>
  <p>
    <%= e %>
  </p>
  <% end %>
  <% end %>

  <% if current_user %>
  <a href="/sessions" data-method="delete" value="Log Out">Log Out</a>
  <% end %>

<%= yield %>

</body>
</html>
